<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BufferSize" value="200"/>
		<add key="PingCountLimit" value="0"/>
		<add key="PingURL" value="google.co.uk"/>
		<add key="AlwaysOnTop" value="false"/>
		<add key="StartOnLaunch" value="false"/>
		<add key="SaveOnStop" value="false"/>
		<add key="CurrentPingLowerBounds" value="60"/>
		<add key="CurrentPingUpperBounds" value="90"/>
		<add key="CurrentPingAverageLowerBounds" value="60"/>
		<add key="CurrentPingAverageUpperBounds" value="90"/>
		<add key="PacketLossLowerBounds" value="1"/>
		<add key="PacketLossUpperBounds" value="2"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>